body{
	box-sizing: border-box;

	display: block;
	position: relative;
	
	width: 100%;
	height: 100%;
	
	padding: 0;
	margin: 0;
	

	background-image:url(../img/mmn.jpg), linear-gradient(to bottom, #feda00 ,#fed501 60%, #ffc300, #fed501);

	background-repeat: no-repeat, repeat-y;
	background-size: contain;
	background-position: center 100px;
}
canvas{
	padding: 0;
	margin: 0 auto;	
}